<div class="users-form">
  <h2>新規アカウントを作成</h2>
  <div class="form-body">
    <% @user.errors.full_messages.each do |message| %>
      <div class="form-error">
        <%= message %>
      </div>
    <% end %>
    <%= form_tag("/users/create") do %>
      <p>ユーザー名</p>
      <input name="name" value="<%= @user.name %>">
      <p>メールアドレス</p>
      <input name="email" value="<%= @user.email %>">
      <p>パスワード</p>
      <input type="password" name="password" value="<%= @user.password %>"><br>
      <input class="space2" type="submit" value="登録する">
    <% end %>
  </div>
</div>
