<body>
  <header class="header5">
   <section class="header2">
    <p class="home-icon1"><%= link_to("/posts/index") do %>
    <span class="arrow-left"><i class="fa fa-arrow-left"></i></span>
    <% end %><span class="name">グループを作成する</span>
   </section>
   <section class="header6">
     <% @group.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
     <% end %>
    <%= form_tag("/groups/create") do %>
    <div class="group-name"> グループ名  <br><input class="group-form" type=“text” name="name" value="<%= @group.name %>" placeholder=" 例) 目指せスリム体型！（１５文字まで）">
    <p>コード</p>
          <input class="group-code" type="code" name="code" value="<%= @group.code %>" placeholder=" （５文字まで）">
    <input type="submit" value="作成する">
    </div>
    <% end %>
   </section>
  </header>

  <main class="main6">

  </main>

  <footer class="footer1">
    <p class="home-icon2">
    <%= link_to("/posts/index") do %>
    <span class="users2"><i class="fa fa-users"></i></span>
    <% end %>
    <%= link_to("/information") do %>
    <span class="bell"><i class="fa fa-bell-o"></i></span>
    <% end %><%= link_to("/users/#{@current_user.id}") do %>
    <span class="user"><i class="fa fa-user"></i></span></p>
    <% end %>
  </footer>
</body>